@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "aos/dist/aos.css";

body {
  @apply bg-main-700 font-redhat;
}

.vertical-lr {
  writing-mode: vertical-lr;
}

.section-title::after {
  @apply bg-main-200;
  content: "";
  display: block;
  position: relative;
  top: 19px;
  width: 220px;
  height: 1px;
  margin-left: 20px;
}
