@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

@import "aos/dist/aos.css";

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-main-700;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-main-500 rounded-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-main-400;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-main-700 font-redhat;
}

.vertical-lr {
  writing-mode: vertical-lr;
}

.section-title::after {
  @apply bg-main-200;
  content: "";
  display: block;
  position: relative;
  top: 19px;
  width: 220px;
  height: 1px;
  margin-left: 20px;
}
